---
const { title, author, date } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>By {author} on {date}</p>
  </body>
</html>